<%= stylesheet_link_tag 'hello', :media => "all" %>
<img src="/assets/cap.png" alt="">
<div class="jumbotron">
  <h1 class="display-4">Make Your Community And Public</h1>
  <h2>in Tokushima univ.</h2>
  <p class="lead">徳島大学生のためのSNS</p>
  <hr class="my-4">
  <p>こちらからお入りください!</p>
  <% if user_signed_in? %>
    <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "btn btn-primary btn-lg" %>
    <%= link_to '投稿一覧', posts_path, method: :get, class: "btn btn-primary btn-lg" %>
  <% else %>
    <%= link_to "ログイン", new_user_session_path, class: "btn btn-primary btn-lg" %>
    <%= link_to "新規登録", new_user_registration_path, class: "btn btn-primary btn-lg" %>
  <% end %>
</div>