<%= stylesheet_link_tag 'hello', :media => "all" %>
<div class="jumbotron">
  <h1 class="display-4">GeekInstagram</h1>
  <p class="lead">めちゃくちゃ急いで作りました…。よろしくお願いします。。</p>
  <hr class="my-4">
  <p>どうぞこちらからお入りください。いってらっしゃい！</p>
  <% if user_signed_in? %>
    <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "btn btn-primary btn-lg" %>
    <%= link_to '投稿一覧', posts_path, method: :get, class: "btn btn-primary btn-lg" %>
  <% else %>
    <%= link_to "ログイン", new_user_session_path, class: "btn btn-primary btn-lg" %>
    <%= link_to "新規登録", new_user_registration_path, class: "btn btn-primary btn-lg" %>
  <% end %>
</div>